<article class="flex max-w-xl flex-col items-start justify-between" id="<%= dom_id blog %>">
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500"><%= blog.created_at.strftime("%B %d, %Y") %></time>
    <!-- tags -->
    <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
  </div>
  <!-- content -->
  <div class="group relative">
    <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
      <%= blog.title %>
    </h2>
    <p class="mt-5 text-sm leading-6 text-gray-600"><%= blog.body %></p>
  </div>
  <!-- author -->
  <div class="relative mt-8 flex items-center gap-x-4">
    <img src="https://cdn.midjourney.com/8c5e339d-3c62-4e2c-9404-075c019c60f0/0_0.png" alt="" class="h-10 w-10 rounded-full bg-gray-50">
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href="#">
          <span class="absolute inset-0"></span>
          JasonMag
        </a>
      </p>
      <p class="text-gray-600">Software Engineer</p>
    </div>
  </div>
</article>