<main class="py-12">
  <div class="lg:px-8 md:px-6 px-4 ">
    <div class="opacity-75 border-gray-400 border-dashed border border-lg overflow-hidden relative h-screen">
      <ul role="list" class="divide-y divide-gray-100 mx-4 my-2">
        <% @users.each do |user| %>
          <%= render partial: 'preview', locals: { user: user } %>
        <% end %>
      </ul>
    </div>
  </div>
</main>