<div id="admin_user_dashboard">
  <div class="bg-white">
    <div>
      <%= render "admins/shared/navbar" %>
      <div class="md:pl-72">
        <%= render "admins/shared/header" %>
        <%= render "admins/pages/users" %>
      </div>
    </div>
  </div>
</div>