<div id="admin_user_dashboard_edit">
  <div class="bg-white">
    <div>
      <%= render "admins/shared/navbar" %>
      <div class="md:pl-72">
        <%= render "admins/shared/header" %>
        <%= render @user %>
      </div>
    </div>
  </div>
</div>