<main class="py-12">
  <div class="lg:px-8 md:px-6 px-4 my-2">
    <%= link_to new_admins_admin_path, class: "rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" do %>
      <span class="inline-block">Add Admin</span>
    <% end %>
  </div>  
  <div class="lg:px-8 md:px-6 px-4 mt-4">
    <div class="opacity-75 border-gray-400 border-dashed border border-lg overflow-hidden relative h-screen">
      <ul role="list" class="divide-y divide-gray-100 mx-4 my-2">
        <% @admins.each do |admin| %>
          <%= render partial: 'preview', locals: { admin: admin } %>
        <% end %>
      </ul>
    </div>
  </div>
</main>
