<div id="admin_admin_dashboard">
  <div class="bg-white">
    <div>
      <%= render "admins/shared/navbar" %>
      <div class="md:pl-72">
        <%= render "admins/shared/header" %>
        <%= render "admins" %>
      </div>
    </div>
  </div>
</div>