<div class="mx-4 my-4">
  <div class="relative mt-8 flex items-center gap-x-4">
    <% if author.user_details.present? && author.user_details.profile_image.present? %>
      <%= image_tag author.user_details.profile_image, class: "h-10 w-10 rounded-full bg-gray-50", alt: "" %>
    <% else %>
      <%= image_tag "", class: "h-10 w-10 rounded-full bg-gray-50", alt: "Default Profile Image" %>
    <% end %>


    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href="#">
          <span class="absolute inset-0"></span>
          <%= "#{author.first_name} #{author.last_name}" %>
        </a>
      </p>
      <p class="text-gray-600"><%= author.user_details&.position %></p>
    </div>
  </div>
</div>