<div class="mx-4 my-4">
  <div class="relative mt-8 flex items-center gap-x-4">
    <%= render "shared/avatar" , resource: author %>
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href="#">
          <span class="absolute inset-0"></span>
          <%= "#{author.first_name} #{author.last_name}" %>
        </a>
      </p>
      <p class="text-gray-600"><%= author.user_details&.position %></p>
    </div>
  </div>
</div>