<!-- Badge -->
<div class="mt-16 text-center">
    <h3 class="text-lg font-semibold text-gray-900">Badge</h3>
    <div class="mx-auto max-w-xs">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="31032419-8271-4def-8d23-71b4d1e7f938" data-share-badge-host="https://www.credly.com"></div>
    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </div>
</div>