<div class="bg-dark py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Tech Ecosystem</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <% logos = [
        "ruby-programming-language-icon.svg", 
        "ruby-on-rails-icon.svg", 
        "docker-icon.svg", 
        "postgresql-icon.svg", 
        "aws-icon.svg", 
        "slack-icon.svg"
        ] %>
      <% logos.each do |logo| %>
        <%= image_tag(logo, class: "col-span-2 max-h-12 w-full object-contain lg:col-span-1 grayscale hover:grayscale-0 transition-transform duration-300", alt: "Your Logo", width: 158, height: 48) %>
      <% end %>
    </div>
  </div>
</div>
