<div class="bg-gray-100 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Tech Ecosystem</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">
      <% logos_with_links = [
        { name: "ruby-programming-language-icon.svg", link: "https://ruby-lang.org" },
        { name: "ruby-on-rails-icon.svg", link: "https://rubyonrails.org" },
        { name: "docker-icon.svg", link: "https://docker.com" },
        { name: "postgresql-icon.svg", link: "https://postgresql.org" },
        { name: "aws-icon.svg", link: "https://aws.amazon.com" },
        { name: "slack-icon.svg", link: "https://slack.com" },
        { name: "github-mark.svg", link: "https://github.com/jasonmag" }
      ] %>
      <% logos_with_links.each do |logo| %>
        <%= link_to logo[:link], target: "_blank" do %>
          <%= image_tag(logo[:name], class: "col-span-2 max-h-12 w-full object-contain lg:col-span-1 grayscale hover:grayscale-0 transition-transform duration-300", alt: "Your Logo", width: 158, height: 48) %>
        <% end %>
      <% end %>
    </div>    
  </div>
</div>
